* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 250px;
  height: 400px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  font-size: 18px;
}

.qr-code-img {
  height: 60%;
}

.header {
  font-weight: bolder;
  padding-top: 15px;
  padding-bottom: 15px;
}

