* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Montserrat';
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
}

.container {
  width: 250px;
  height: 400px;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
}

.qr-code-img {
  height: 60%;
  border-radius: 15px;
}

.header {
  font-weight: bolder;
  padding: 20px 0;
  font-size: 16px;
  color: hsl(218, 44%, 22%);
}

.description {
  font-size: 12px;
  color: hsl(220, 15%, 55%);
  padding: 0 20px;
}

.attribution {
  position: relative;
  top: 50px;
}